/*SMALL SCREENS WORLD*/
@media all and (max-width: 635px) {
  .main-nav ul {padding: 1em 0 0; justify-content: space-around;}
  #logo {width: 75px; height: 75px;}
  .nav-icon-standard {display: none;}
  .nav-icon-mobile {display: initial;}
  
  .osc-sticker {display: none;}
  .osc-sticker-wide {display: block;}
  
  .nav-flex {
    width: 95%;
    min-width: 0;
	min-height: 20em;
    flex-flow: column nowrap;
    align-items: stretch;
  }
  
  .nav-flex-item {}
  .nav-flex-item a {padding: 2% 0;}
  
  .splash-flex-standard {display: none;}
  .splash-flex-mobile {display: flex;}
  
  .flex-container {gap: 1%;}
  .tablet-of-truth {font-size: 0.75em;}
}

/*SMALLER SCREENS WORLD*/
@media all and (max-width: 400px) {
  .tablet-of-truth {font-size: 0.625em;}
}

/*LANDSCAPE PHONES?*/
@media all and (min-width:635px) and (max-height: 500px) and (orientation: landscape) {
  .site-container {overflow: hidden;}
  
  .splash-flex-standard {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1% auto 0;
    width: 99%;
    height: 18em;
  }
  
  #splash-flex-img-1-standard {
    width: initial;
	height: 18em;
  }
  
  #splash-flex-img-2-standard {
    position: absolute;
    left: 20vw;
	bottom: -12vh;
    width: 50%;
    max-width: 360px;
    max-height: 360px;
  }
  
  .nav-flex {
    position: absolute;
    display: flex;
	top: 0;
	left: 80%;
    margin: 0;
    min-width: 0px;
	max-width: 100px;
	height: 99vh;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .nav-flex-item {flex: 0 1 auto;}
}

/*WHOEVER IS VIEWING THIS SITE IN A TINY FUCKING SQUARE, WINS*/
@media all and (max-width: 635px) and (max-height: 600px) {
  .osc-sticker {display: block;}
  .osc-sticker-wide {display: none;}
  
  .nav-flex {
	margin: 5% auto 0;
    width: 95%;
    min-width: 0;
	min-height: 5em;
    flex-flow: row nowrap;
    align-items: stretch;
  }
  
  .nav-flex-item a {padding: 0.5% 0;}
}

/*KILL THE SQUARES*/
@media all and (max-width: 635px) and (max-height: 375px) {
  #splash-flex-img-1-mobile {opacity: 25%; animation: none;}
  #splash-flex-img-2-mobile {display: none;}
}